.cart-widget {
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 1000;
  border: 2px solid red;
}

.cart-link:hover {
  transform: scale(1.1);
}

.cart-count-badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: #e74c3c;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 2px 7px;
  border-radius: 50%;
  border: 2px solid white;
  min-width: 15px;
  text-align: center;
}
