{% extends "base.html" %}
{% load static %}

{% block title %}
    Купить {{ item.name }}
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
{% endblock %}

{% block content %}
<div class="product-card">
    <h1>{{ item.name }}</h1>
    <p>{{ item.description }}</p>
    <div class="purchase-row">
        <span class="price">{{ item.price }} {{ item.currency }}</span>
        <button id="buy-button">Buy</button>
    </div>
</div>
{% endblock %}